<div style="height: 100%; width: 80%; marginLeft: 10%">
  <div class="cart-header">
    <span class="home-route" (click)="goToHome()"> Home/{{ " " }} </span>
    <span>My cart ({{books.length}})</span>
  </div>
  <div class="main-container-cart">
    <div class="first-div">
      <div class="mycart-location">
        <div class="cart-count">
          <span class="Books">My cart </span>
          <span class="book-count" style="marginleft: 0.5rem"> ({{books.length}}) </span>
        </div>
        <div class="select-location">
          <!-- <LocationOnIcon fontSize="small" style="color: #A03037" /> -->
          <select class="sort-by-cartlocation">
            <option value="volvo">Use current location</option>
          </select>
        </div>
     </div>


     <div class="allCartBooks">
        <div *ngFor="let book of books">
            <div class="book-details-cart">
              <div class="change-display-left">
                <img src="../../../assets/mini-book-cart.png" alt="cart book" />
              </div>
              <div class="book-details">
                
                <div class="bookNameClass">
                    {{book.bookName}}
                    
                </div>
                <div class="incart-author">
                      by {{book.author}}
                   
                    </div>
                <div class="incart-price">
                  <span class="incart-price">{{book.discountPrice}} </span>
                  <span class="priceBox1-display-cart incart-discount">
                     Rs. {{book.price}}
                   
                  </span>
                </div>
              </div>
            </div>
            <div class="quantity-buttons">
              <div class="btnsAndcount-cart">
                <button
                  class="quantity-button-cart"
                 (click)="removeFromCart(book)"
                >
                  -
                </button>
                <span class="book-count-cart">
                  {{book.quantity}}
                  
                </span>
                <button
                  class="quantity-button-cart"
                  (click)="addToCart1(book)"
                >
                  +
                </button>
              </div>
              <div>
                <button class="remove-btn">Remove</button>
              </div>
            </div>
        </div>
      </div>
    
        <div *ngIf="!addressDetails" class="placeorder-cart" (click)="customerDetails()" >
          <div class="order-btn-cart" >
            Place order
          </div>
        </div>
       
    </div>
    <div *ngIf="!addressDetails"  class="second-div">
        <div
          class="address-cart change-display-left"
          style="color: #333232"
        >
          Address Details
        </div>
    </div>
<app-customer-details *ngIf="addressDetails" [orderSummaryView]="orderSummaryView" [orderSummary]="orderSummary"></app-customer-details>
<div class="third-div" *ngIf="!orderSummary">
    <div
      class="ordersummary-cart change-display-left "
      style="color: #333232" 
    >
      Order Summary
      {{orderSummary}}
    </div>
  </div>
<app-order-summary *ngIf="orderSummary" [data]="cartData"></app-order-summary>


  </div>
</div>
